@model int
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Counter MVC</title>
</head>
<body>
    <div> 
        <h1>Your site has @Model files!</h1>
    </div>
</body>
</html>
